<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <link href="../static/css/lib/highlight.css" rel="stylesheet">
</head>
<body>

{{template "nav.html" .}}

<div id="main">
    <div>
        <p class="myp"></p>
        <p class="myp">
            <a href="/">{{.wechat}}</a>
        </p>
        <p class="myp">
            <a href="{{.github}}">{{.github}}</a>
        </p>
    </div>

</div>

</body>
</html>